@media screen and (max-width: 843px) {
        .bg_half{
          display:none;
        } 
        
      }
      
      /*繧ｿ繧､繝医Ν讓ｪ繧｢繧､繧ｳ繝ｳ*/
      .h-icon h1 i, .h-icon h2 i, .h-icon h3 i {
          display: block;
          width: 2em;
          height: 2em;
      }
      h2 i{
          background-size: contain;
      }
      /*繧ｯ繝ｩ繧ｹ蜷阪→逕ｻ蜒上ｒ險ｭ螳�*/
      h2 i.mokuba{
          background-image: url(../images/home/icon072.png);
      }
      /*驕輔≧濶ｲ縺ｮ逕ｻ蜒上ｒ繝｡繧､繝ｳ繧ｫ繝ｩ繝ｼ縺ｫ*/
      h2 i.ahiru{
          background-color: var(--mc);
          scale:1.5;
          transform-origin: 50% 50%;
          -webkit-mask-image: url(../images/home/128944.png);
      }
      .slick-track {
        max-width: unset;
      }