@charset "utf-8";

#contents .c91 {
	background-color: var(--mctr);
	background-image: url(../images/home/sika.png);
}
#contents .c91 a.itext, #contents .c91 img, #contents .c91 video {
	width: 398px;
	height: 183px;
}
#contents .c91 h1,
#contents .c91 div {
	text-align: left;
}#contents .c262 h2,
#contents .c262 div {
	text-align: left;
}#contents .c263 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c263 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c263 > div:nth-of-type(1) img {
	width: 420px;
}
#contents .c263 > div:nth-of-type(2) img {
	width: 600px;
}
#contents .c263 > div:nth-of-type(3) img {
	width: 600px;
}
#contents .c263 > div:nth-of-type(4) img {
	width: 600px;
}
#contents .c263 > div:nth-of-type(5) img {
	width: 600px;
}#contents .c283 {
	background-color: var(--wh70);
}
#contents .c283 h2,
#contents .c283 div {
	text-align: right;
}#contents .c284 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c284 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c284 > div:nth-of-type(1) img {
	width: 1000px;
}
#contents .c284 > div:nth-of-type(2) img {
	width: 1000px;
}#contents .c288 a.itext, #contents .c288 img, #contents .c288 video {
	width: 600px;
	height: 600px;
}#contents .c286 h2,
#contents .c286 div {
	text-align: left;
}#contents .c341 h2,
#contents .c341 div {
	text-align: left;
}#contents .c342 {
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c342 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c342 > div:nth-of-type(1) img {
	width: 1000px;
}
#contents .c342 > div:nth-of-type(2) img {
	width: 1000px;
}
#contents .c342 > div:nth-of-type(3) img {
	width: 1000px;
}
#contents .c289 {
	margin: 100px 0 0 0;
}#contents .c290 dl dt {
	width: 20%;
}
#contents .c290 dl dd {
	width: 80%;
}#contents .c293 dl dt {
	width: 20%;
}
#contents .c293 dl dd {
	width: 80%;
}#contents .c294 dl dt {
	width: 20%;
}
#contents .c294 dl dd {
	width: 80%;
}
#contents .c292 {
	margin: 0 0 60px 0;
}#contents .c309 {
	margin: 100px 0 0 0;
}#contents .c310 h2,
#contents .c310 div {
	text-align: right;
}#contents .c311 {
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c311 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c311 > div:nth-of-type(1) img {
	width: 635px;
}
#contents .c311 > div:nth-of-type(2) img {
	width: 480px;
}#contents .c312 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c312 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c312 > div:nth-of-type(1) img {
	width: 1000px;
}
#contents .c312 > div:nth-of-type(2) img {
	width: 1000px;
}
#contents .c313 {
	background-color: var(--wh70);
}
#contents .c313 h2,
#contents .c313 div {
	text-align: left;
}#contents .c343 h2,
#contents .c343 div {
	text-align: left;
}#contents .c344 {
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c344 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c344 > div:nth-of-type(1) img {
	width: 1000px;
}
#contents .c344 > div:nth-of-type(2) img {
	width: 1000px;
}
#contents .c344 > div:nth-of-type(3) img {
	width: 1000px;
}
#contents .c315 {
	width: var(--base);
}#contents .c316 dl dt {
	width: 20%;
}
#contents .c316 dl dd {
	width: 80%;
}#contents .c317 dl dt {
	width: 20%;
}
#contents .c317 dl dd {
	width: 80%;
}#contents .c331 {
	margin: 100px 0 0 0;
}
#contents .c332 {
	background-color: var(--wh70);
}
#contents .c332 h2,
#contents .c332 div {
	text-align: right;
}#contents .c333 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c333 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c333 > div:nth-of-type(1) img {
	width: 1000px;
}
#contents .c333 > div:nth-of-type(2) img {
	width: 1000px;
}#contents .c334 {
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c334 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c334 > div:nth-of-type(1) img {
	width: 480px;
}#contents .c335 h2,
#contents .c335 div {
	text-align: left;
}#contents .c345 h2,
#contents .c345 div {
	text-align: left;
}#contents .c346 {
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c346 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c346 > div:nth-of-type(1) img {
	width: 1000px;
}
#contents .c346 > div:nth-of-type(2) img {
	width: 1000px;
}
#contents .c346 > div:nth-of-type(3) img {
	width: 1000px;
}
#contents .c337 {
	margin: 100px 0 0 0;
	width: var(--base);
}#contents .c338 dl dt {
	width: 20%;
}
#contents .c338 dl dd {
	width: 80%;
}#contents .c339 dl dt {
	width: 20%;
}
#contents .c339 dl dd {
	width: 80%;
}#contents .c320 {
	margin: 100px 0 0 0;
}#contents .c321 h2,
#contents .c321 div {
	text-align: right;
}#contents .c322 {
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c322 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c322 > div:nth-of-type(1) img {
	width: 1000px;
}
#contents .c322 > div:nth-of-type(2) img {
	width: 1000px;
}#contents .c323 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c323 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c323 > div:nth-of-type(1) img {
	width: 1000px;
}
#contents .c323 > div:nth-of-type(2) img {
	width: 1000px;
}
#contents .c324 {
	background-color: var(--wh70);
}
#contents .c324 h2,
#contents .c324 div {
	text-align: left;
}#contents .c347 h2,
#contents .c347 div {
	text-align: left;
}#contents .c348 {
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c348 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c348 > div:nth-of-type(1) img {
	width: 1000px;
}
#contents .c348 > div:nth-of-type(2) img {
	width: 1000px;
}
#contents .c348 > div:nth-of-type(3) img {
	width: 1000px;
}
#contents .c326 {
	margin: 100px 0 0 0;
	width: var(--base);
}#contents .c327 dl dt {
	width: 20%;
}
#contents .c327 dl dd {
	width: 80%;
}#contents .c328 dl dt {
	width: 20%;
}
#contents .c328 dl dd {
	width: 80%;
}#contents .c301 {
	margin: 100px 0 0 0;
}
#contents .c302 {
	background-color: var(--wh70);
}
#contents .c302 h2,
#contents .c302 div {
	text-align: right;
}#contents .c303 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c303 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c303 > div:nth-of-type(1) img {
	width: 1000px;
}
#contents .c303 > div:nth-of-type(2) img {
	width: 1000px;
}#contents .c304 {
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c304 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c304 > div:nth-of-type(1) img {
	width: 480px;
}#contents .c305 h2,
#contents .c305 div {
	text-align: left;
}#contents .c349 h2,
#contents .c349 div {
	text-align: left;
}#contents .c350 {
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c350 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c350 > div:nth-of-type(1) img {
	width: 1000px;
}
#contents .c350 > div:nth-of-type(2) img {
	width: 1000px;
}
#contents .c350 > div:nth-of-type(3) img {
	width: 1000px;
}
#contents .c267 {
	margin: 100px 0 0 0;
	width: var(--base);
}#contents .c268 dl dt {
	width: 20%;
}
#contents .c268 dl dd {
	width: 80%;
}#contents .c269 dl dt {
	width: 20%;
}
#contents .c269 dl dd {
	width: 80%;
}#contents .c255 {
	background-color: #0008;
	background-image: url(../images/home/bg02.jpg);
}
#contents .c255 h2,
#contents .c255 div {
	text-align: center;
}#contents .c250 h2,
#contents .c250 div {
	text-align: left;
}#contents .c249 h2,
#contents .c249 div {
	text-align: right;
}#contents .c295 h2,
#contents .c295 div {
	text-align: left;
}#contents .c251 {
	flex-direction: row;
	flex-wrap: wrap;
}
#contents .c251 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c251 > div:nth-of-type(1) img {
	width: 400px;
}
#contents .c251 > div:nth-of-type(2) img {
	width: 400px;
}
#contents .c251 > div:nth-of-type(3) img {
	width: 400px;
}#contents .c265 {
	flex-direction: column;
	flex-wrap: wrap;
}
#contents .c265 > div.box {
	box-sizing: border-box;
	overflow: hidden;
}
#contents .c265 > div:nth-of-type(1) img {
	width: 400px;
}
#contents .c265 > div:nth-of-type(2) img {
	width: 400px;
}
#contents .c265 > div:nth-of-type(3) img {
	width: 600px;
}#contents .c266 h2,
#contents .c266 div {
	text-align: left;
}#contents .c299 dl dt {
	width: 20%;
}
#contents .c299 dl dd {
	width: 80%;
}#contents .c297 dl dt {
	width: 20%;
}
#contents .c297 dl dd {
	width: 80%;
}#contents .c298 dl dt {
	width: 20%;
}
#contents .c298 dl dd {
	width: 80%;
}